{% extends 'layout.html' %}



{% block header %}
  <h1>{% block title %}list_slider{% endblock %}</h1>
{% endblock %}



    {% block extra_css %}
        <link href="{{ url_for('static', filename = 'css/style1.css') }}" rel="stylesheet">
        <style>
            .min_and_max{
                max-height: 175px;
                max-width:  290px;

                }
        </style>
    {% endblock %}



    {% block extra_page_header %}
        <div class="page-header">
            <h2 class="pageheader-title">CMS</h2>
            <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit amet vestibulum mi. Morbi lobortis pulvinar quam.</p>
            <div class="page-breadcrumb">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Slider Manager</a></li>

                        <li class="breadcrumb-item active" aria-current="page">Slider List</li>
                    </ol>
                </nav>
            </div>
        </div>
    {% endblock %}



    {% block content %}
        <div class="row">
        {% with messages = get_flashed_messages() %}
            {% if messages|length > 0 %}
                {% for message in messages %}
                    <div class="alert alert-success alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <h2>{{message}}</h2>
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}



            <!-- ============================================================== -->
            <!--  table  -->
            <!-- ============================================================== -->
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered first">

                                <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Image</th>
                                        <th>Status</th>
                                        <th>Action</th>

                                    </tr>
                                </thead>
                                <tbody>

                                    {% for sece in myresult %}
                                    <tr>

                                        <td>{{sece.title}}</td>
                                       
                                        <td><img class="min_and_max" src="{{ url_for('sld_manager.get_slider_image_path', filename=sece.image) }}"></td>
                                        <td>{{sece.status}}</td>
                                        <td>
                                            <a title="Edit Record" class="btn btn-info " href="{{url_for('sld_manager.edit',id=sece.id)}}" >
                                                <i class="fa fa-pencil "></i>
                                            </a>
                                            <a title="Delete Record" class="delete-link btn btn-danger " href="javascript: void(0);" data-id={{sece.id}}>
                                                    <i class="fa fa-trash "></i>

                                            </a>
                                        </td>

                                    </tr>
                                    {% endfor %}
                                </tbody>

                            </table>
                            {%if request.args.get('page')|int != 0%}
                            <a title="Previous" class="previous btn " href="{{url_for('sld_manager.silder_list',page=request.args.get('page')|int-1 )}}" data-id="">
                                <h1>&lt;</h1>
                            </a>
                            {%endif%}
                            {%if request.args.get('page')|int < total_page%}
                            <a title="Next" class="next btn " href="{{url_for('sld_manager.silder_list',page=request.args.get('page')|int+1 )}}" data-id="">
                                <h1>&gt;</h1>
                            </a>
                            {%endif%}
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end  table  -->
            <!-- ============================================================== -->
        </div>

    {% endblock %}



    {% block extra_js %}
    <script language = "javascript" type = "text/javascript">
        jQuery(document).ready(function(){
            
            jQuery(document).on('click','.delete-link',function(){
                if(confirm("Do you want to delete this information"))
                {
                    var id=jQuery(this).attr('data-id');   
                                   
                    $.ajax({
                        url:'/slider_delete',
                        data:{id:id},
                        type:'GET',
                        dataType:'json',
                        success:function(response){
                            if(response.type == 'error'){
                                window.location.href="http://127.0.0.1:5000/admin/slider/list_slider";
                            }

                        },
                        error:function(error){
                            console.log(error)
                        }

                    });

                }
            });
            
        });
     </script>
    {% endblock %}