{% extends 'layout.html' %}



{% block header %}
  <h1>{% block title %}list_article{% endblock %}</h1>
{% endblock %}



    {% block extra_css %}
        <link href="{{ url_for('static', filename = 'css/style1.css') }}" rel="stylesheet">
        <style>
            .min_and_max{
                max-height: 175px;
                max-width:  290px;

                }
        </style>
    {% endblock %}



    {% block extra_page_header %}
        <div class="page-header">
            <h2 class="pageheader-title">CMS</h2>
            <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit amet vestibulum mi. Morbi lobortis pulvinar quam.</p>
            <div class="page-breadcrumb">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Article Manager</a></li>

                        <li class="breadcrumb-item active" aria-current="page">Article List</li>
                    </ol>
                </nav>
            </div>
        </div>
    {% endblock %}



    {% block content %}
        <div class="row">
        {% with messages = get_flashed_messages() %}
            {% if messages|length > 0 %}
                {% for message in messages %}
                    <div class="alert alert-success alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <h2>{{message}}</h2>
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}



            <!-- ============================================================== -->
            <!--  table  -->
            <!-- ============================================================== -->
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered first">

                                <thead>
                                    <tr>
                                        <th>Order</th>
                                        <th>Title</th>
                                        <th>Description</th>
                                        <th>Image</th>
                                        <th>Status</th>
                                        <th>Action</th>

                                    </tr>
                                </thead>
                                <tb>
                                    {% for sece in myresult %}
                                    
                                    <tr>
                                        {% set order1 = sece.order_step|string%}
                                        {% set order=order1.split('.') %}
                                       
                                        <td>
                                            {% if loop.index > 1%}
                                            <a title="UP" class="action" href="javascript: void(0);" data-id='{{sece.id}}' data-val="{{order1}}"><i class="fa fa-arrow-up"></i></a>
                                            {%endif%}
                                            {{order[0]}}
                                            {% if loop.index < loop.length %}
                                            <a title="DOWN" class="action" href="javascript: void(0);" data-id='{{sece.id}}' data-val="{{order1}}"><i class="fa fa-arrow-down "></i></a>
                                            {%endif%}
                                        </td>
                                        <td>{{sece.title}}</td>
                                        <td class="lod" data-id="{{sece.description}}"></td>
                                        <td><img class="min_and_max" src="{{ url_for('art_manager.get_article_image_path', filename=sece.image) }}"style="width: 2280px; height: 150px;"></td>
                                        <td>{{sece.status}}</td>
                                        <td>
                                            <a title="Edit Record" class="btn btn-info " href="{{url_for('art_manager.edit',id=sece.id)}}" >
                                                <i class="fa fa-pencil "></i>
                                            </a>
                                            <a title="Delete Record" class="delete-link btn btn-danger " href="javascript: void(0);" data-id={{sece.id}}>
                                                    <i class="fa fa-trash "></i>

                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>

                            </table>
                            {%if request.args.get('page')|int >0%}

                            <a title="Previous" class="previous btn " href="{{url_for('art_manager.article_list',page=request.args.get('page')|int-1)}}" data-id="">
                                <h1>&lt;</h1>
                            </a>
                            {%endif%}
                            {%if request.args.get('page')|int < total_page-1%}

                            <a title="Next" class="next btn " href="{{url_for('art_manager.article_list',page=request.args.get('page')|int+1 ) }}" data-id="">
                                <h1>&gt;</h1>
                            </a>
                            {%endif%}
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end  table  -->
            <!-- ============================================================== -->
        </div>

    {% endblock %}



    {% block extra_js %}
    <script language = "javascript" type = "text/javascript">
        jQuery(document).ready(function(){
            jQuery(document).on('click','.delete-link',function(){
                if(confirm("Do you want to delete this information"))
                {
                    var id=jQuery(this).attr('data-id');                   
                    $.ajax({
                        url:'/article_delete',
                        data:{id:id},
                        type:'GET',
                        dataType:'json',
                        success:function(response){
                            if(response.type == 'error'){
                            window.location.href=window.location.href;                                
                            }
                        },
                        error:function(error){
                            console.log(error)
                        }

                    });

                }
            });
            
            jQuery('.lod').each(function (value) {
                //console.log('.lod' + index + ':' + $(this).attr('data-id'));
                jQuery(this).html($(this).attr('data-id'));
            });

            jQuery(document).on('click','.action',function(){
                var id=jQuery(this).attr('data-id');
                var title=jQuery(this).attr('title');
                var order=jQuery(this).attr('data-val');
                $.ajax({
                    url:'/article_order',
                    data:{id:id,title:title,order:order},
                    type:'GET',
                    dataType:'json',
                    success:function(response){
                        if(response.type == 'error'){
                            window.location.href=window.location.href;
                            
                        }
                    },
                    error:function(error){
                        console.log(error)
                    }

                });
            });
        });
        
     </script>
    {% endblock %}
