{% extends 'layout.html' %}



{% block header %}
  <h1>{% block title %}edit_article{% endblock %}</h1>
{% endblock %}



    {% block extra_css %}
        <link href="{{ url_for('static', filename = 'css/style1.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename = 'css/summernote-bs4.css') }}" rel="stylesheet">
    {% endblock %}



    {% block extra_page_header %}
        <div class="page-header">
            <h2 class="pageheader-title">CMS</h2>
            <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit amet vestibulum mi. Morbi lobortis pulvinar quam.</p>
            <div class="page-breadcrumb">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Article Manager</a></li>

                        <li class="breadcrumb-item active" aria-current="page">Edit Article</li>
                    </ol>
                </nav>
            </div>
        </div>
    {% endblock %}



    {% block content %}
         <div class="row">

                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

                        {% if myresults == None %}
                          <div class="alert alert-danger alert-dismissible">
                      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>

                              <h3>Article Not found !</h3>


                            </div>
                    {% else %}

                    <div class="card">
                        <h5 class="card-header">Article</h5>
                        <div class="card-body">

                                 <form action="{{url_for('art_manager.edit',id=myresults.id)}}" method="post" enctype="multipart/form-data" >

                                        <div class="form-group row">
                                            <label for="title" class="col-12 col-sm-3 col-form-label text-sm-right">Category-Title</label>
                                            <div class="col-12 col-sm-8 col-lg-6">
                                                <select class="form-control form-control-sm" id="cat_id" name="cat_id" data-id="{{myresults.categary_id}}">
                                                    <option value="0" selected="selected">Select Category-Title</option>
                                                        {% for row in category%}
                                                        <option value="{{row.id}}">{{row.title}}</option>
                                                        {%endfor%}
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="title" class="col-12 col-sm-3 col-form-label text-sm-right">Title</label>
                                            <div class="col-12 col-sm-8 col-lg-6">
                                                <input type="text"  placeholder="Title" name="title" id="title" class="form-control" value="{{myresults.title}}">
                                            </div>
                                        </div>

                                        <!----<div class="form-group row">
                                            <label for="decs" class="col-12 col-sm-3 col-form-label text-sm-right">Description</label>
                                            <div class="col-12 col-sm-8 col-lg-6">
                                                <textarea id="decs" name="decs" class="form-control" ></textarea>
                                            </div>
                                        </div>-->

                                        <div class="form-group row">
                                            <label for="decs" class="col-12 col-sm-3 col-form-label text-sm-right">Description</label>
                                            <div class="col-12 col-sm-8 col-lg-6 email editor col-form-label  p-0">
                                                <textarea class="form-control" id="decs" name="decs" rows="6" >{{ myresults['description'] }}</textarea>

                                            </div>

                                        </div>

                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label text-sm-right" id="status" data-id="{{myresults.status}}">Status</label>
                                            <div class="col-sm-6">
                                                <div class="custom-controls-stacked" >
                                                    <label class="custom-control custom-radio">
                                                        <input id="ck1" name="ck" type="radio" value="yes"  class="custom-control-input" ><span class="custom-control-label">Yes </span>
                                                    </label>
                                                    <label class="custom-control custom-radio">
                                                        <input id="ck" name="ck" type="radio" value="no"   class="custom-control-input" ><span class="custom-control-label">No </span>
                                                    </label>


                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="image" class="col-12 col-sm-3 col-form-label text-sm-right">Image</label>
                                            <div class="col-12 col-sm-8 col-lg-6">
                                                <input type="file" name="image" id="image" class="form-control">
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="col-12 col-sm-3 col-form-label text-sm-right form-group form-check">
                                                        
                                                <input class="form-check-input" type="checkbox" name="pt" id="pt" >
                                                <label class="form-check-label" > permanent Delete </label>
        
                                            </div>
        
                                            <div class="col-12 col-sm-8 col-lg-6">
                                                    <img  src="{{ url_for('art_manager.get_article_image_path', filename=myresults.image) }}" style="width: 450px; height: 50px;">
                                            </div>
        
                                        </div>

                                        <div class="form-group row">
                                            <label for="f_load" class="col-12 col-sm-3 col-form-label text-sm-right">File Upload</label>
                                            <div class="col-12 col-sm-8 col-lg-6">
                                                <input type="file" name="f_load" id="f_load" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-12 col-sm-3 col-form-label text-sm-right form-group form-check">
                                                        
                                                <input class="form-check-input" type="checkbox" name="pt_file" id="pt_file" >
                                                <label class="form-check-label" > permanent Delete </label>
        
                                            </div>
        
                                            <div class="col-12 col-sm-8 col-lg-6">
                                                    <img  src="{{ url_for('art_manager.get_article_image_path', filename=myresults.file_upload) }}" style="width: 450px; height: 50px;">
                                            </div>
        
                                        </div>

                                        <div class="form-group row text-right">
                                            <div class="col col-sm-10 col-lg-9 offset-sm-1 offset-lg-0">
                                                <button type="submit" class="btn btn-space btn-primary">Submit</button>
                                                <button class="btn btn-space btn-secondary">Cancel</button>
                                            </div>
                                        </div>
                                    </form>

                        </div>

                    </div>
                          {% endif %}
                </div>

                <!-- ============================================================== -->
                <!-- end form -->
                <!-- ============================================================== -->

            </div>

    {% endblock %}



    {% block extra_js %}

        <script>
            jQuery(document).ready(function(){
                var id=jQuery('#cat_id').attr('data-id');
                jQuery('#cat_id').val(id);
                var status=jQuery('#status').attr('data-id');
                if (status==='yes')
                    jQuery("#ck1").attr('checked', 'checked');
                else
                    jQuery("#ck").attr('checked', 'checked');
                $('#decs').summernote({
                  height: 300
              });
            });

        </script>
          <script src="{{ url_for('static', filename = 'js/summernote-bs4.js') }}"></script>

    {% endblock %}