{% extends 'layout.html' %}

{% block extra_css %}

{% endblock %}

{% block extra_page_header %}
    <div class="page-header">
        <h2 class="pageheader-title">E-commerce </h2>
        <div class="page-breadcrumb">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="" class="breadcrumb-link">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                </ol>
            </nav>
        </div>
    </div>
{% endblock %}

        {% block content %}

        {% endblock %}

{% block extra_js %}

{% endblock %}